<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li class="active">
                        <h1><i class="fas fa-users"></i> Meus Moradores</h1>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<%= form_with(url: import_employees_path, method: :post, multipart: true) do |form| %>
  <%= form.file_field :file, class: "form-control", accept: ".xls,.xlsx" %>
  <%= form.submit "Importar Planilha", class: "btn btn-primary mt-3" %>
<% end %>

<p style="color: green"><%= notice %></p>

<% if current_user.admin? %>
                       
    <% else %>
    <%= link_to new_employee_path, class: "btn btn-primary mt-3" do %>
        <i class="fa fa-plus"></i> Cadastrar Novo Morador
    <% end %>                 
<% end %>

<% if @employees.present? %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-lg-9"> 
        <div class="right_col mt-3" role="main">
          <div class="row">
            <% @employees.each do |employee| %>
                <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card mb-4">
                </br>
                    <div class="text-center">
                        <p>
                            <% if employee.profile_picture.attached? %>
                            <%= image_tag employee.profile_picture, size: '288x288' %>
                            <% else %>
                            <%= image_tag "user.png", size: '288x288' %>
                            <% end %>
                        </p>
                    </div>
                <div class="card-body">
                  <% employee.keylockers.each do |keylocker| %>
                    <p>
                    <strong>Codigo Postal:</strong> <%= keylocker.zip_code %>
                    </p>

                    <p>
                    <strong>Bairro:</strong> <%= keylocker.neighborhood %>
                    </p>

                    <p>
                    <strong>Rua:</strong> <%= keylocker.street %>
                    </p>

                    <p>
                    <strong>Cidade:</strong> <%= keylocker.city %>
                    </p>

                    <p>
                    <strong>Nome do edifício:</strong> <%= keylocker.nameBuilding %>
                    </p>
                  <% end %>

                  <p>
                    <strong>Nome:</strong>
                    <%= employee.name %> <%= employee.lastname %>
                  </p>

                  <p>
                    <strong>Sobrenome:</strong>
                    <%= employee.lastname %>
                  </p>

                  <p>
                    <strong>Numero do apartamento:</strong>
                    <%= employee.numberHouse %>
                  </p>

                  <p>
                    <strong>Telefone:</strong>
                    <%= employee.phone %>
                  </p>

                  <p>
                    <strong>Email:</strong>
                    <%= employee.email %>
                  </p>

                  <% if current_user.admin? %>
                    <p>
                        <% if employee.keylockers.any? %>
                         
                        <% else %>
                            Nenhum dispenser associado a esse colaborador.
                        <% end %>
                    </p>
                    <% else %>              
                  <% end %>
                 
                  <div class="text-center mt-3">
                    <%= link_to employee, class: "btn btn-warning d-inline-block mr-2" do %>
                      <i class="fa fa-search"></i> Exibir
                    <% end %>
                
                    <%= link_to edit_employee_path(employee), class: "btn btn-success d-inline-block mr-2" do %>
                        <i class="fa fa-edit"></i> Editar
                    <% end %>
                
                    <%= button_to employee, method: :delete, class: 'btn btn-danger d-inline-block mt-3', title: 'Excluir', id: "delete-btn-#{employee.id}" do %>
                        <i class="fa fa-trash"></i> Excluir
                    <% end %>   
                  </div>
                  </br>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div style="text-align: center;">
    <p>Não existe nenhum colaborador</p>
  </div>
<% end %>
            
<div class="text-center mt-3 d-flex justify-content-center">
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <%= will_paginate @employees, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </ul>
  </nav>
</div>

<script>
$(document).ready(function() {
  $('[id^=delete-btn]').on('click', function(e) {
    e.preventDefault();

    var employeeId = $(this).attr('id').split('-')[2];

    if (confirm('Tem certeza?')) {
      $.ajax({
        url: '/employees/' + employeeId,
        method: 'DELETE',
        success: function() {
          // Atualiza a página após a exclusão bem-sucedida.
          location.reload(true);
        },
        error: function(error) {
          console.error('Erro ao excluir:', error);
          location.reload(true);
        }
      });
    }
  });
});
</script>