<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |form| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="row">
    <div class="col-md-8 mb-4">
      <div class="card mb-4">
        <div class="card-header py-3">
          <h5 class="mb-0">Editar seu cadastro</h5>
        </div>
        <div class="card-body">
          <form>
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-4">

              <div class="col">
                <div class="form-outline">
                  <%= form.label :Nome, class: "form-label" %>
                  <%= form.text_field :name, class: 'form-control' %>
                </div>
              </div>

              <div class="col">
                <div class="form-outline">
                  <%= form.label :Sobrenome, class: "form-label" %>
                  <%= form.text_field :lastname, class: 'form-control' %>
                </div>
              </div>

            </div>

            <!-- Text input -->
            <div class="form-outline mb-4">
              <%= form.label :Nome_da_Empresa, class: "form-label" %>
              <%= form.text_field :nameCompany, class: 'form-control' %>
            </div>

            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <%= form.label :Telefone, class: "form-label" %>
                  <%= form.text_field :phone, class: 'form-control' %>
                </div>
              </div>

              <div class="col">
                <div class="form-outline">
                  <%= form.label :CNPJ, class: "form-label" %>
                  <%= form.text_field :cnpj, class: 'form-control' %>
                </div>
              </div>
            </div>

            
            <form method="get" action=".">
              <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                    <%= form.label :Codigo_Postal, class: "form-label" %>
                    <%= form.text_field :zip_code, id: 'cep', class: 'form-control', onblur:"pesquisacep(this.value);" %>
                  </div>
                </div>

                <div class="col">
                  <div class="form-outline">
                    <%= form.label :Rua, class: "form-label" %>
                    <%= form.text_field :street, id: 'rua', onblur:"pesquisacep(this.value);", class: 'form-control' %>
                  </div>
                </div>
              </div>

              <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                    <%= form.label :Cidade, class: "form-label" %>
                    <%= form.text_field :city, id: 'cidade', class: 'form-control' %>
                  </div>
                </div>

                <div class="col">
                  <div class="form-outline">
                    <%= form.label :Estado, class: "form-label" %>
                    <%= form.text_field :state, id: 'uf', class: 'form-control' %>
                  </div>
                </div>
              </div>

              <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                    <%= form.label :Bairro, class: "form-label" %>
                    <%= form.text_field :neighborhood, id: 'bairro', class: 'form-control' %>
                  </div>
                </div>

                <div class="col">
                  <div class="form-outline">
                    <%= form.label :Complemento, class: "form-label" %>
                    <%= form.text_field :complement, class: 'form-control' %>
                  </div>
                </div>                
              </div>
            </form>
            <!-- Text input -->
            <div class="form-outline mb-4">
              <%= form.label :Email, class: "form-label" %>
              <%= form.email_field :email, class: 'form-control' %>
            </div>

            <div class="form-outline mb-4">
            <%= form.label :Senha, class: "form-label" %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> caracteres minimo)</em>
            <% end %><br />
            <%= form.password_field :password, autocomplete: "new-password", class: 'form-control' %>
          </div>
          
          <div class="form-outline mb-4">
            <%= form.label :Confirmação_da_senha %><br />
            <%= form.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
          </div>
          

          <div class="actions">
            <%= form.submit "Atualizar", class: 'btn btn-success' %>
          </div>

          </form>
        </div>
      </div>
    </div>
  </div>
<% end %>

<h3>Cancelar minha conta</h3>

<div> 
  <%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
</div>

<%= render "devise/shared/links" %>

<script>
function limpa_formulário_cep() {
        //Limpa valores do formulário de cep.
        document.getElementById('rua').value=("");
        document.getElementById('bairro').value=("");
        document.getElementById('cidade').value=("");
        document.getElementById('uf').value=("");
}

function meu_callback(conteudo) {
    if (!("erro" in conteudo)) {
        //Atualiza os campos com os valores.
        document.getElementById('rua').value=(conteudo.logradouro);
        document.getElementById('bairro').value=(conteudo.bairro);
        document.getElementById('cidade').value=(conteudo.localidade);
        document.getElementById('uf').value=(conteudo.uf);
    } //end if.
    else {
        //CEP não Encontrado.
        limpa_formulário_cep();
        alert("CEP não encontrado.");
    }
}
    
function pesquisacep(valor) {

    //Nova variável "cep" somente com dígitos.
    var cep = valor.replace(/\D/g, '');

    //Verifica se campo cep possui valor informado.
    if (cep != "") {

        //Expressão regular para validar o CEP.
        var validacep = /^[0-9]{8}$/;

        //Valida o formato do CEP.
        if(validacep.test(cep)) {

            //Preenche os campos com "..." enquanto consulta webservice.
            document.getElementById('rua').value="...";
            document.getElementById('bairro').value="...";
            document.getElementById('cidade').value="...";
            document.getElementById('uf').value="...";

            //Cria um elemento javascript.
            var script = document.createElement('script');

            //Sincroniza com o callback.
            script.src = 'https://viacep.com.br/ws/'+ cep + '/json/?callback=meu_callback';

            //Insere script no documento e carrega o conteúdo.
            document.body.appendChild(script);

        } //end if.
        else {
            //cep é inválido.
            limpa_formulário_cep();
            alert("Formato de CEP inválido.");
        }
    } //end if.
    else {
        //cep sem valor, limpa formulário.
        limpa_formulário_cep();
    }
};
</script>