<p style="color: green"><%= notice %></p>

<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <ol class="breadcrumb">
          <li class="active">
            <h1><i class="fas fa-history"></i> Histórico</h1>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-lg-9">  
      <div class="right_col mt-3" role="main">
        <div class="row">
          <% @logs.each do |log| %>
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="card mb-4">
                <%= image_tag 'dispenser.jpg', class: 'card-img-top', alt: 'Produto 1' %>
                <div class="card-body">
                  <!-- Seu conteúdo de card -->
                  <td><%= log.formatted_employee_info %></td>
                  <p class="card-text">Name: <%= log.employee_info['name'] %></p>
                  <p class="card-text">Lastname: <%= log.employee_info['lastname'] %></p>
                  <p class="card-text">CompanyID: <%= log.employee_info['companyID'] %></p>
                  <p class="card-text">Phone: <%= log.employee_info['phone'] %></p>
                  <p class="card-text">Function: <%= log.employee_info['function'] %></p>
                  <p class="card-text">Created At: <%= log.created_at %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center mt-3 d-flex justify-content-center">
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <%= will_paginate @logs, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </ul>
  </nav>
</div>
