<%= form_with(model: keylocker) do |form| %>
  <% if keylocker.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(keylocker.errors.count, "error") %> prohibited this keylocker from being saved:</h2>

      <ul>
        <% keylocker.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-md-8 mb-4">
    <div class="card mb-4">
      <div class="card-header py-3">
        <h5 class="mb-0">Cadastrar um novo prédio</h5>
      </div>
      <div class="card-body">

        <form method="get" action=".">
          <div class="form-outline mb-4">
            <%= form.label :Nome_do_edificio, class: "form-label" %>
            <%= form.text_field :nameBuilding, class: 'form-control' %>
          </div>

        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <%= form.label :Codigo_Postal, class: "form-label" %>
              <%= form.text_field :zip_code, id: 'cep', class: 'form-control', onblur:"pesquisacep(this.value);" %>
            </div>
          </div>

          <div class="col">
            <div class="form-outline">
              <%= form.label :Rua, class: "form-label" %>
              <%= form.text_field :street, id: 'rua', onblur:"pesquisacep(this.value);", class: 'form-control' %>
            </div>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <%= form.label :Cidade, class: "form-label" %>
              <%= form.text_field :city, id: 'cidade', class: 'form-control' %>
            </div>
          </div>

          <div class="col">
            <div class="form-outline">
              <%= form.label :Estado, class: "form-label" %>
              <%= form.text_field :state, id: 'uf', class: 'form-control' %>
            </div>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <%= form.label :Bairro, class: "form-label" %>
              <%= form.text_field :neighborhood, id: 'bairro', class: 'form-control' %>
            </div>
          </div>

          <div class="col">
            <div class="form-outline">
              <%= form.label :Complemento, class: "form-label" %>
              <%= form.text_field :complement, class: 'form-control' %>
            </div>
          </div>                
        </div>
   
           
          <div class="d-flex">
            <div class="form-group mr-2">
              <%= form.submit 'Cadastrar Prédio', class: 'btn btn-primary' %>
            </div>

            <div class="form-group">
              <%= link_to "Voltar", dispensers_path, class: 'btn btn-success' %>
            </div> 
          </div>

        <% end %>
        </form>
      </div>
    </div>
  </div>



<script>
  function limpa_formulário_cep() {
          //Limpa valores do formulário de cep.
          document.getElementById('rua').value=("");
          document.getElementById('bairro').value=("");
          document.getElementById('cidade').value=("");
          document.getElementById('uf').value=("");
  }

  function meu_callback(conteudo) {
      if (!("erro" in conteudo)) {
          //Atualiza os campos com os valores.
          document.getElementById('rua').value=(conteudo.logradouro);
          document.getElementById('bairro').value=(conteudo.bairro);
          document.getElementById('cidade').value=(conteudo.localidade);
          document.getElementById('uf').value=(conteudo.uf);
      } //end if.
      else {
          //CEP não Encontrado.
          limpa_formulário_cep();
          alert("CEP não encontrado.");
      }
  }
      
  function pesquisacep(valor) {

      //Nova variável "cep" somente com dígitos.
      var cep = valor.replace(/\D/g, '');

      //Verifica se campo cep possui valor informado.
      if (cep != "") {

          //Expressão regular para validar o CEP.
          var validacep = /^[0-9]{8}$/;

          //Valida o formato do CEP.
          if(validacep.test(cep)) {

              //Preenche os campos com "..." enquanto consulta webservice.
              document.getElementById('rua').value="...";
              document.getElementById('bairro').value="...";
              document.getElementById('cidade').value="...";
              document.getElementById('uf').value="...";

              //Cria um elemento javascript.
              var script = document.createElement('script');

              //Sincroniza com o callback.
              script.src = 'https://viacep.com.br/ws/'+ cep + '/json/?callback=meu_callback';

              //Insere script no documento e carrega o conteúdo.
              document.body.appendChild(script);

          } //end if.
          else {
              //cep é inválido.
              limpa_formulário_cep();
              alert("Formato de CEP inválido.");
          }
      } //end if.
      else {
          //cep sem valor, limpa formulário.
          limpa_formulário_cep();
      }
  };
</script>


