<div id="<%= dom_id keylocker %>">
  <p>
    <strong>Codigo Postal:</strong>
    <%= @keylocker.zip_code %>
  </p>

  
  <p>
    <strong>Nome do edifício:</strong>
    <%= @keylocker.nameBuilding %>
  </p> 

  <p>
    <strong>Bairro:</strong>
    <%= @keylocker.neighborhood %>
  </p> 

  <p>
    <strong>Rua:</strong>
    <%= @keylocker.street %>
  </p> 

  <p>
    <strong>Estado:</strong>
    <%= @keylocker.state %>
  </p>

  <p>
    <strong>Cidade:</strong>
    <%= @keylocker.city %>
  </p>

  <p>
    <strong>Complemento:</strong>
    <%= @keylocker.complement %> ml
  </p>
</div>
